@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RolePlayingGame.Models.User

<h3>@Model.UserName</h3>

@if (!(Model.Avatar == null)) {
    <img src="@Html.DisplayFor(model => Model.Avatar)" />
}
else
{
    <img src="https://www.iconexperience.com/_img/g_collection_png/standard/512x512/person.png" />
}

@if (User.Identity.Name == Model.UserName)
    {
        @Html.ActionLink("Edit Profile", "Edit", new { id = @Model.Id }) 
        @Html.ActionLink("Delete Account", "Delete", new { id = @Model.Id })
    }

